/*html {
  scroll-behavior: smooth;
}*/
body::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none;
  scrollbar-width: none;  
  scroll-padding-top: 1000px;
}
header {
  border-bottom: 1px solid black;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  color: black;
  text-align: center;
  background-color: #d7891c;
  padding: 15px;
}
.navbar {
  padding-top: 10px;
}
.navbar a{
  color: black;
  text-decoration: none;
  font-size: larger;
  padding-left: 20px;
  padding-right: 20px;
}
.navbar a:hover{
  color: white;
}

h1 {
  margin: 0;
}

body {
  margin-top: 120px;
  font-family: 'Roboto', sans-serif;
}

#menu, #akcia, #prisady, #galeria, #kontakt {
  scroll-margin-top: 110px;
}
.pizza-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 0 20px;
}
@media (max-width: 800px) {
  .pizza-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    padding: 0 2%;
  }
}

.pizza-item {
  position: relative;
  color: white;
  background-size: cover;
  background-position: center;
  height: 260px;
  padding: 20px;
  border: black 1px solid;
  border-radius: 5px;
}

.pizza-item h3 {
  display: none;
}
.pizza-item:hover {
  transform: scale(1.05);
  transform: rotate(36000deg);
  transition: transform 4s ease-in-out;
}
.pizza-item:hover h3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.pizza-item:hover ul {
  display: none;
}
.pizza-item h2 {
  font-size: 30px;
}
.pizza-item ul{
  font-size: larger;
}

.pizza-item:nth-child(1) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0,0.5)), url("obrazky/margerita.jpg");
}
.pizza-item:nth-child(2) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0,0.5)), url("obrazky/hawai.jpg");
}
.pizza-item:nth-child(3) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0,0.5)), url("obrazky/cardinale.jpg");
}
.pizza-item:nth-child(4) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0,0.5)), url("obrazky/quattroformaggi.jpg");
}
.pizza-item:nth-child(5){
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0,0.5)), url("obrazky/chicken.jpg");
}
.pizza-item:nth-child(6){
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0,0.5)), url("obrazky/pepperoni.jpg");
}

.pizza-item h2 {
  text-align: center;
}



.akcia {
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  text-align: center;
  flex-direction: column;
}
.akcia h2 {
  color: white;
  font-size: xx-large;
  margin: 0;
  background-color: #d7891c;
  border: 1px solid black;

}
.akcia p {
  font-size: x-large;
  border: 1px solid black;
  padding: 5px;
  margin-top: 0;
  border-top: none;

}

.prisady {
  margin-top: 20px;
}
.prisady ul {
  columns: 4;
  text-align: center;
  list-style: none;
}
.prisady li {
  margin-bottom: 10px;
}

.galeria-grid {
  border: 1px solid black;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  padding: 0 20px;
}

.galeria-item img {
  padding: 10px;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.footer {
  border: 1px solid black;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding: 0 20px;
}

.footer ul {
  list-style: none;
}
.footer .copyright {
  display: flex;
  align-items: flex-end;  
  height: 100%;
  margin: auto;
}
